* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility classes */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
body {
    background-color: #333;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
#site_content{
  height: 100%;
}
aside.main_menu {
    width: 250px;
    background-color: black;
    height: 100%;
    margin-bottom: 60px;
    position: relative;
}
.item-menu2 {
  margin-left: 30px;
}
.item-menu3 {
  margin-top: 20px;
  line-height: 2rem;
  margin-left: 30px;
}
.item-menu4 {
  position: absolute;
  bottom: 0;
  line-height: 2rem;
  margin-left: 30px;
}
#invisible-logo {
  visibility: hidden;
  width: 30px;
}
#logo {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#home {
  border-left: 2px solid #1db954;
}
#home a {
  color: white;
}
#home, #search, #library {
  margin-bottom: 5px;
}
.icon-img {
  width: 30px;
  padding-right: 5px;
}
.connect {
  color: #696a67;
  text-decoration: none;
}
.fa-plus-square {
  font-size: 30px;
  padding-right: 5px;
}
span {
  display: block;
  color: #696a67;
}
span:hover {
  color: white;
}
#hr-menu4 {
  width: 200px;
}
.no-visible {
  padding-left: 10px;
}
.item-menu4:hover {
  color: #696a67;
}
.covers_section {
    background-color: #01000a;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 80px;
    width: calc(100% - 250px);
    padding-bottom: 60px;
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 60px;
    background-color: #0f0f0f;
}
#banner-button {
  position: fixed;
  top: 10px;
  right: 0;
  width: 200px;
  height: 35px;
  background-color: #0f0f0f;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
}
.covers-navbar{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.covers-navbar a {
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #696a67;
}
.covers-navbar a:hover{
  color:white;
}
.green-line {
  width:40px;
  height:3px;
  background:#1db954;
  display: block;
  margin: 0 auto;
}
/* Covers section */
#recently-heading {
  padding: 15px;
  font-size: 20px;
}
#recently_played {
  width: 100%;
  justify-content: space-around;
}
.item {
  width: 150px;
  height: 150px;
  align-items: center;
  position: relative;
  text-align: center;
}
.item img {
  width: 80%;
  height: 80%;
}
.item h6 {
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
}
.item p{
  text-align: center;
  font-size:11px;
  color: #696a67;
  padding-top: 5px;
}
.item:hover .invisible {
  visibility: visible;
}
.invisible {
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 35%;
  visibility: hidden;
}
#special {
  visibility: visible;
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 35%;
}
.heading2 {
  margin-top: 60px;
  padding-left: 15px;
  font-size: 20px;
}
.heading3 {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 20px;
}
.second-p {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 11px;
  color: #696a67;
}
#crated_for {
  width: 100%;
}
#popular {
  width: 100%;
  margin-bottom: 30px;
}
.b-radius-50 {
  border-radius: 50%;
}
/* Footer */
 footer#site_footer {
  background-color: rgb(34, 35, 38);
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#left-part {
 justify-content: flex-start;
 width: 25%;
}
#sinister-play {
  height: 40px;
  width: 40px;
  padding-top: 15px;
  padding-left: 10px;
}
#sinister-play img {
  width: 100%;
}
#sinister-text {
  padding-top: 18px;
  padding-left: 10px;
  display: inline-block;
}
#sinister-play h6 {
  font-size: 15px;
}
#sinister-p {
  font-size: 10px;
}
#sinister-icons {
  padding-top: 20px;
  padding-left: 25px;
  display: inline-block;
}
#central-part {
  width: 50%;
  justify-content: center;
  justify-content: space-around;
  position: relative;
}
.buttons-part {
  margin-top: 10px;
}
.buttons-part i {
  padding-right: 20px;
}
.music-time {
  position: absolute;
  bottom: 10px;
  width: 500px;
  justify-content: space-between;
}
.timing-line {
  width: 400px;
  height: 6px;
  background: #696a67;
  border-radius: 2px;
}
.little-line {
  width: 80px;
  height: 6px;
  background: white;
  border-radius: 2px;
}
#right-part {
  justify-content: flex-end;
  width: 25%;
  padding-right: 10px;
}
.buttons-part2 {
  margin-top: 25px;
}
.buttons-part2 i {
  padding-right: 10px;
}
.volume-line {
  margin-top: 29px;
  width: 100px;
  height: 6px;
  background: #696a67;
  border-radius: 2px;
}
.volume {
  width: 25px;
  height: 6px;
  background: white;
  border-radius: 2px;
}
/* responsive medium screen */
@media all and (min-width: 769px) and (max-width: 1200px) {
  .covers-navbar {
    width: 100%;
    height: 50%;
  }
  #recently_played {
    width: 100%;
    height: 65%;
    justify-content: flex-start;
  }
  #left-part,  #right-part {
    width: 100%;
  }
  #central-part {
    width: 100%;
  }
  .music-time {
    width: 100%;
  }
}
/* responsive small screen */
@media all and (max-width: 768px) {
  .covers-navbar {
    font-size: 0.75em;
    width: 100%;
    height: 15%;
  }
  #recently_played {
    width: 100%;
    height: 100%;
  }
  #recently_played .item {
    width: 50%;
  }
  #created_for {
    width: 100%;
  }
  #created_for .item {
    width: 50%;
  }
  #popular {
    width: 100%;
  }
  #popular .item {
    width: 50%;
  }
  #left-part,  #right-part {
    font-size: 0.75em;
    width: 100%;
  }
  #central-part {
    font-size: 0.75em;
    width: 100%;
  }
  .music-time {
    font-size: 0.8em;
    width: 100%;
  }
}
/* responsive xs screen */
@media all and (max-width: 576px) {
  aside.main_menu {
    max-width: 40px;
    display: flex;
    flex-direction: column;
  }
  #logo, .connect, .item-menu3 {
    display: none;
  }
  .no-visible {
    visibility: hidden;
  }
  #invisible-logo {
    visibility: visible;
    margin-left: 5px;
    margin-top: 5px;
  }
  .item-menu2, .item-menu3 {
    margin-left: 5px;
    margin-top: 10px;
  }
  .item-menu4 {
    margin-left: 15px;
  }
  .icon-img {
   max-width: 30px;
  }
  #home {
    border-left: none;
  }
  .subscribe_banner, .covers_section {
    width: calc(100% - 40px);
  }
  .covers-navbar {
    font-size: 0.75em;
    width: 100%;
    height: 15%;
  }
  #recently_played {
    width: 100%;
    height: 100%;
  }
  #recently_played .item {
    width: 50%;
  }
  #created_for {
    width: 100%;
  }
  #created_for .item {
    width: 50%;
  }
  #popular {
    width: 100%;
  }
  #popular .item {
    width: 50%;
  }
  #left-part,  #right-part {
    font-size: 0.2em;
    max-width: 30%;
  }
  .volume-line, .volume {
    max-width: 40%;
    font-size: 0.2em;
  }
  #central-part {
    font-size: 0.2em;
    max-width: 60%;
  }
  .music-time {
    font-size: 0.2em;
    max-width: 80%;
  }
}
/* responsive height 350*/
@media all and (max-height: 350px) {
   #recently-heading {
    margin-top: 40px;
   }
   footer#site_footer {
     height: 56vh;
   }
   #sinister-play {
     height: 70px;
     width: 70px;
     padding-top: 70px;
     padding-left: 20px;
   }
   #sinister-text {
     padding-top: 80px;
     padding-left: 30px;
     display: inline-block;
   }
   #sinister-icons {
     padding-top: 84px;
     padding-left: 35px;
     display: inline-block;
   }
   .buttons-part {
     font-size: 30px;
     position: absolute;
     bottom: 50%;
   }
   .music-time {
     position: absolute;
     top: 70%;
     width: 500px;
     justify-content: space-between;
   }
   #right-part {
     justify-content: flex-end;
     width: 25%;
     padding-right: 35px;
   }
   .buttons-part2 {
     margin-top: 85px;
   }
   .volume-line {
     margin-top: 89px;
     width: 100px;
     height: 6px;
     background: #696a67;
     border-radius: 2px;
   }
}
